.apiList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: inline-flex;
  gap: 2rem;
}

// .apiList > * {
//   margin: 2.5rem;
// }












// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }
