@font-face {
  font-family: "Chalkboard Regular";
  src: url("../public/chalkboard-se-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Chalkboard Light";
  src: url("../public/chalkboard-se-light.ttf") format("truetype");
}

.navBar {
  width: 100%;
  display: flex;
  margin: .5rem;
  justify-content: space-between;

  .logo {
    font-family: "Chalkboard Regular";
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    h2{
       margin-right: 0.5rem; 
    }
  }

  .navButtons {
    
    font-family: "Chalkboard Light";
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 5rem;

    li{
        margin-left: 5rem;
    }
  }
}
