
.openButton{
    height: 3rem;
    border: none;
    cursor: pointer;
    background: #000000;
    color: white;
    border-radius: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family:"Poppins";
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .8rem;
    margin-bottom: 1rem;

}